*__pycache__
*.iml
*.xml
*test.py
NLP/word2vec_sentenceSimilarity/dataset/
NLP/word2vec_sentenceSimilarity/model/
*.xlsx
*.xls
*.pdf
*.json
*.csv
*.npy
KG/ccks2017NER/data
.DS_Store
test.*
.vscode
*/idea
KG/tf_test.py
BS/raw_data/
MyBS/raw_data/
